.RadMenu_IntelBlue a span 
{
    cursor:pointer;
    
}
.RadMenu_IntelBlue
{
    z-index: 99998;
    
}

.menu a span 
{
    cursor:pointer;
    
}
.menu
{
    z-index: 99998;
    
}

/* <RadMenu / Web20> */

.RadMenu_IntelBlue .rmRootGroup,
.RadMenu_IntelBlue a.rmLink,
.RadMenu_IntelBlue .rmText,
.RadMenu_IntelBlue .rmLeftArrow,
.RadMenu_IntelBlue .rmRightArrow,
.RadMenu_IntelBlue .rmTopArrow,
.RadMenu_IntelBlue .rmBottomArrow
{
	/*background-image: url('Menu/rmSprite1.png');*/
	/*background-image:none;*/
	/*background-color: transparent;*/
	background-color:#C8102E;
}

.RadMenu_IntelBlue .rmRootGroup
{
    /*border-top:2px solid #0169b2;*/
	/*border-left:1px solid #0169b2;*/
	/*border-right: 1px solid #0169b2; */
	/*background-color: #121212;*/
	background-color:#C8102E;
	/*background-color: #024A7C;*/
}

.RadMenu_IntelBlue .rmHorizontal
{
	background-repeat: repeat-x;
	background-position: 0 0;
}

.RadMenu_IntelBlue .rmVertical
{
	background-image: none;
}

/* <Root items> */

.RadMenu_IntelBlue,
.RadMenu_IntelBlue a.rmLink
{
	font: normal 13px/23px "Segoe UI", Arial, sans-serif;
	text-decoration: none;
}

.RadMenu_IntelBlue a.rmLink
{
	color: #ffffff;
}

.RadMenu_IntelBlue a.rmLink,
.RadMenu_IntelBlue a.rmLink .rmText
{
	background-repeat: no-repeat;
	background-position: 0 500px;
}

.RadMenu_IntelBlue .rmVertical .rmFirst,
.RadMenu_IntelBlue .rmVertical .rmLast
{
	background: none;
}

.RadMenu_IntelBlue a.rmLink:hover,
.RadMenu_IntelBlue a.rmFocused,
.RadMenu_IntelBlue a.rmSelected,
.RadMenu_IntelBlue a.rmExpanded,
.RadMenu_IntelBlue a.rmExpanded:hover
{
	/*color:#333333;*/
	color:#ffffff;	
	background-position: 0 -72px;
	background-color: #7A0315;
}

.RadMenu_IntelBlue .rmFirst a.rmLink:hover,
.RadMenu_IntelBlue .rmFirst a.rmFocused,
.RadMenu_IntelBlue .rmFirst a.rmSelected,
.RadMenu_IntelBlue .rmFirst a.rmExpanded,
.RadMenu_IntelBlue .rmFirst a.rmExpanded:hover
{
	background-position: -1px -72px;
	background-color: #7A0315;
	/*color:#333333;*/
	color:#ffffff;
}

.RadMenu_IntelBlue a.rmLink:hover .rmText,
.RadMenu_IntelBlue a.rmFocused .rmText,
.RadMenu_IntelBlue a.rmSelected .rmText,
.RadMenu_IntelBlue a.rmExpanded .rmText,
.RadMenu_IntelBlue a.rmExpanded:hover .rmText
{
	background-position: 100% -96px;
	background-color: #7A0315;
	/*color:#333333;*/
	color:#ffffff;
}

.RadMenu_IntelBlue .rmLast a.rmLink:hover .rmText,
.RadMenu_IntelBlue .rmLast a.rmFocused .rmText,
.RadMenu_IntelBlue .rmLast a.rmSelected .rmText,
.RadMenu_IntelBlue .rmLast a.rmExpanded .rmText,
.RadMenu_IntelBlue .rmLast a.rmExpanded:hover .rmText
{
	background-position: 0 -96px;
}

.RadMenu_IntelBlue .rmItem a.rmDisabled,
.RadMenu_IntelBlue .rmItem a.rmDisabled:hover,
.RadMenu_IntelBlue .rmItem a.rmDisabled .rmText,
.RadMenu_IntelBlue .rmItem a.rmDisabled:hover .rmText
{
	background-repeat: no-repeat;
	background-position: 0 500px;
	/*color:#333333;*/
	color:#ffffff;
}

.RadMenu_IntelBlue .rmVertical a.rmLink
{
	padding-top: 1px;
	padding-bottom: 1px;
}

.RadMenu_IntelBlue .rmVertical a.rmLink:hover,
.RadMenu_IntelBlue .rmVertical a.rmFocused,
.RadMenu_IntelBlue .rmVertical a.rmSelected,
.RadMenu_IntelBlue .rmVertical a.rmExpanded,
.RadMenu_IntelBlue .rmVertical a.rmExpanded:hover
{
	padding-top: 0;
	padding-bottom: 0;
	border-style: solid;
	border-color: #417394;
	border-width: 1px 0;
}

.RadMenu_IntelBlue .rmVertical a.rmLink:hover,
.RadMenu_IntelBlue .rmVertical a.rmFocused,
.RadMenu_IntelBlue .rmVertical a.rmSelected,
.RadMenu_IntelBlue .rmVertical a.rmExpanded,
.RadMenu_IntelBlue .rmVertical a.rmExpanded:hover,
.RadMenu_IntelBlue .rmVertical a.rmLink:hover .rmText,
.RadMenu_IntelBlue .rmVertical a.rmFocused .rmText,
.RadMenu_IntelBlue .rmVertical a.rmSelected .rmText,
.RadMenu_IntelBlue .rmVertical a.rmExpanded .rmText,
.RadMenu_IntelBlue .rmVertical a.rmExpanded:hover .rmText
{
	background-position: -1px -72px;
}

.RadMenu_IntelBlue .rmVertical .rmFirst a.rmLink:hover,
.RadMenu_IntelBlue .rmVertical .rmFirst a.rmFocused,
.RadMenu_IntelBlue .rmVertical .rmFirst a.rmSelected,
.RadMenu_IntelBlue .rmVertical .rmFirst a.rmExpanded,
.RadMenu_IntelBlue .rmVertical .rmFirst a.rmExpanded:hover
{
	padding-top: 1px;
	padding-bottom: 0;
	border-top-width: 0;
}

.RadMenu_IntelBlue .rmVertical .rmLast a.rmLink:hover,
.RadMenu_IntelBlue .rmVertical .rmLast a.rmFocused,
.RadMenu_IntelBlue .rmVertical .rmLast a.rmSelected,
.RadMenu_IntelBlue .rmVertical .rmLast a.rmExpanded,
.RadMenu_IntelBlue .rmVertical .rmLast a.rmExpanded:hover
{
	padding-bottom: 1px;
	padding-top: 0;
	border-bottom-width: 0;
}

.RadMenu_IntelBlue .rmVertical .rmItem a.rmDisabled:hover
{
	padding-top: 1px;
	padding-bottom: 1px;
	border-width: 0;
}

.RadMenu_IntelBlue .rmLast a.rmExpanded .rmText
{
	background-position: 0 500px;
	background-repeat: no-repeat;
}

.RadMenu_IntelBlue .rmRootGroup a.rmDisabled,
.RadMenu_IntelBlue .rmRootGroup a.rmDisabled:hover
{
	color:  #bfd4e3;
	background: none;
}

/* </Root items> */


/* <Submenu items> */

.RadMenu_IntelBlue .rmGroup,
.RadMenu_IntelBlue .rmMultiColumn,
.RadMenu_IntelBlue .rmGroup .rmVertical
{
	border: 1px solid #699dbf;
	background-color:  #F3F3F3;
	background-image:none;
	/*background: #FFFFFF url('Menu/rmVSprite1.png') repeat-y -1px 0;*/
}

.RadMenu_IntelBlue .rmTopFix,
.RadMenu_IntelBlue .rmBottomFix,
.RadMenu_IntelBlue .rmRoundedCorners .rmGroup .rmItem,
.RadMenu_IntelBlue .rmRoundedCorners li.rmFirstGroupColumn .rmItem,
.RadMenu_IntelBlue .rmRoundedCorners .rmFirstGroupColumn li.rmFirstGroupColumn .rmItem,
.RadMenu_IntelBlue .rmRoundedCorners ul.rmHorizontal .rmFirst,
.RadMenu_IntelBlue_Context.rmRoundedCorners .rmGroup .rmItem,
.RadMenu_IntelBlue_Context.rmRoundedCorners ul.rmHorizontal .rmFirst
{
	/*background-image: url('Menu/rmVSprite1.png');*/
	background-image:none;
	background-color: #ffffff; 
	background-repeat: repeat-y;
	background-position: -3px 0;
}

* html .rmRoundedCorners_IntelBlue .rmGroup .rmItem,
* html .rmRoundedCorners_IntelBlue ul.rmHorizontal .rmFirst
{
	/*background-image: url('Menu/rmVSprite1.png');*/
	background-image:none;
	background-color: #ffffff; 
	background-repeat: repeat-y;
	background-position: -3px 0;
}

.RadMenu_IntelBlue .rmRoundedCorners .rmScrollWrapContainer .rmGroup,
.RadMenu_IntelBlue .rmRoundedCorners .rmScrollWrap .rmItem,
.RadMenu_IntelBlue .rmRoundedCorners .rmGroupColumn .rmItem,
.RadMenu_IntelBlue .rmRoundedCorners .rmGroupColumn .rmGroupColumn .rmItem,
.RadMenu_IntelBlue .rmRoundedCorners .rmHorizontal .rmItem,
.RadMenu_IntelBlue .rmRoundedCorners .rmScrollWrap .rmVertical,
.RadMenu_IntelBlue_Context.rmRoundedCorners .rmScrollWrapContainer .rmGroup,
.RadMenu_IntelBlue_Context.rmRoundedCorners .rmScrollWrap .rmItem,
.RadMenu_IntelBlue_Context.rmRoundedCorners .rmHorizontal .rmItem,
.RadMenu_IntelBlue_Context.rmRoundedCorners .rmScrollWrap .rmVertical
{
	background-image: none;
}

* html .rmRoundedCorners_IntelBlue .rmScrollWrapContainer .rmGroup,
* html .rmRoundedCorners_IntelBlue .rmScrollWrap .rmItem,
* html .rmRoundedCorners_IntelBlue .rmHorizontal .rmItem,
* html .rmRoundedCorners_IntelBlue .rmScrollWrap .rmVertical
{
	background-image: none;
}

.RadMenu_IntelBlue .rmRoundedCorners .rmGroupColumn
{
	background-color: #ffffff;
}

.RadMenu_IntelBlue .rmBottomLeft,
.RadMenu_IntelBlue .rmRoundedCorners .rmScrollWrapContainer,
.RadMenu_IntelBlue_Context.rmRoundedCorners .rmScrollWrapContainer,
.RadMenu_IntelBlue_Context.rmRoundedCorners ul.rmGroup,
.RadMenu_IntelBlue .rmRoundedCorners ul.rmGroup,
.RadMenu_IntelBlue .rmRoundedCorners .rmMultiColumn
{
	/*background-image:  url('Menu/rmRoundedLeft.png');*/
	background-image:none;
	background-color: transparent; 
	background-repeat: no-repeat;
}

* html .rmRoundedCorners_IntelBlue .rmScrollWrapContainer,
* html .rmRoundedCorners_IntelBlue .rmGroup ul.rmGroup,
* html .rmRoundedCorners_IntelBlue ul.rmGroup
{
	/*background-image:  url('Menu/rmRoundedLeft.png');*/
	background-image:none;
	background-color: transparent; 
	background-repeat: no-repeat;
}

.RadMenu_IntelBlue .rmTopRight,
.RadMenu_IntelBlue .rmBottomRight
{
	/*background-image:  url('Menu/rmRoundedRight.png');*/
	background-image:none;
	background-color: transparent; 
	background-repeat: no-repeat;
}

.RadMenu_IntelBlue .rmTopFix,
.RadMenu_IntelBlue .rmBottomFix,
.RadMenu_IntelBlue .rmRoundedCorners .rmGroup .rmFirst,
.RadMenu_IntelBlue_Context.rmRoundedCorners .rmGroup .rmFirst,
.rmRoundedCorners_IntelBlue .rmGroup .rmFirst
{
	border-color: #699dbf;
}

.RadMenu_IntelBlue .rmRoundedCorners .rmScrollWrapContainer .rmTopFix,
.RadMenu_IntelBlue .rmRoundedCorners .rmScrollWrapContainer .rmBottomFix,
.RadMenu_IntelBlue_Context.rmRoundedCorners .rmScrollWrapContainer .rmTopFix,
.RadMenu_IntelBlue_Context.rmRoundedCorners .rmScrollWrapContainer .rmBottomFix
{
	background: #ffffff;
}

* html .rmRoundedCorners_IntelBlue .rmScrollWrapContainer .rmTopFix,
* html .rmRoundedCorners_IntelBlue .rmScrollWrapContainer .rmBottomFix
{
	background: #ffffff;
}

.RadMenu_IntelBlue .rmRoundedCorners .rmScrollWrapContainer .rmTopArrow,
.RadMenu_IntelBlue .rmRoundedCorners .rmScrollWrapContainer .rmBottomArrow,
.RadMenu_IntelBlue .rmRoundedCorners .rmScrollWrapContainer .rmLeftArrow,
.RadMenu_IntelBlue .rmRoundedCorners .rmScrollWrapContainer .rmRightArrow,
.RadMenu_IntelBlue_Context.rmRoundedCorners .rmScrollWrapContainer .rmTopArrow,
.RadMenu_IntelBlue_Context.rmRoundedCorners .rmScrollWrapContainer .rmBottomArrow,
.RadMenu_IntelBlue_Context.rmRoundedCorners .rmScrollWrapContainer .rmLeftArrow,
.RadMenu_IntelBlue_Context.rmRoundedCorners .rmScrollWrapContainer .rmRightArrow
{
	background-color: #ffffff;
	border: 0;
}

* html .rmRoundedCorners_IntelBlue .rmScrollWrapContainer .rmTopArrow,
* html .rmRoundedCorners_IntelBlue .rmScrollWrapContainer .rmBottomArrow,
* html .rmRoundedCorners_IntelBlue .rmScrollWrapContainer .rmLeftArrow,
* html .rmRoundedCorners_IntelBlue .rmScrollWrapContainer .rmRightArrow
{
	background-color: #ffffff;
	border: 0;
}

.RadMenu_IntelBlue li.rmTopFix,
.RadMenu_IntelBlue li.rmBottomFix
{
	background-position: -4px 0;
}

.RadMenu_IntelBlue_rtl .rmBottomLeft,
.RadMenu_IntelBlue_rtl .rmRoundedCorners ul.rmGroup,
.RadMenu_IntelBlue_rtl .rmRoundedCorners .rmMultiColumn,
.RadMenu_IntelBlue .rmRoundedCorners .rmScrollWrapContainer,
.RadMenu_IntelBlue .rmScrollWrapContainer .rmBottomLeft,
.rmRoundedCorners.RadMenu_IntelBlue_Context_rtl ul.rmGroup,
.RadMenu_IntelBlue_Context.rmRoundedCorners .rmScrollWrapContainer
{
	/*background-image: url('Menu/rmRoundedLeft_rtl.png');*/
	background-image:none;
}

.RadMenu_IntelBlue_rtl .rmTopRight,
.RadMenu_IntelBlue_rtl .rmBottomRight
{
	/*background-image: url('Menu/rmRoundedRight_rtl.png');*/
	background-image:none;
}

.RadMenu_IntelBlue_rtl li.rmTopFix,
.RadMenu_IntelBlue_rtl li.rmBottomFix,
.RadMenu_IntelBlue_rtl .rmRoundedCorners .rmGroup .rmItem,
.rmRoundedCorners.RadMenu_IntelBlue_Context_rtl ul.rmGroup .rmItem
{
	background-position: 101% 0;
}

.RadMenu_IntelBlue .rmGroup a.rmLink
{
	color: #000000;
}

.RadMenu_IntelBlue .rmSlide .rmScrollWrap
{
	background-image: none;
}

.RadMenu_IntelBlue_rtl .rmGroup,
.RadMenu_IntelBlue_rtl .rmMultiColumn,
.RadMenu_IntelBlue_rtl .rmGroup .rmVertical
{
	background-position: 101% 0;
}

.RadMenu_IntelBlue .rmRootGroup .rmHorizontal
{
	/*background-image: none;*/
}

.RadMenu_IntelBlue .rmScrollWrap .rmVertical
{
	border: 0;
}

.RadMenu_IntelBlue .rmRoundedCorners .rmScrollWrapContainer li.rmItem,
.RadMenu_IntelBlue_Context.rmRoundedCorners .rmScrollWrapContainer li.rmItem,
.rmRoundedCorners_IntelBlue .rmScrollWrapContainer li.rmItem
{
	background: none;
}

.RadMenu_IntelBlue .rmGroup a.rmLink:hover,
.RadMenu_IntelBlue .rmGroup .rmItem a.rmFocused,
.RadMenu_IntelBlue .rmGroup .rmItem a.rmSelected,
.RadMenu_IntelBlue .rmGroup .rmItem a.rmExpanded
{
	color: #FFFFFF;
	/*hover background*/
	background-color: #000000;
}

.RadMenu_IntelBlue .rmGroup a.rmDisabled,
.RadMenu_IntelBlue .rmGroup a.rmDisabled:hover
{
	color: #8a8a8a;
}

.RadMenu_IntelBlue .rmGroup .rmItem a.rmLink,
.RadMenu_IntelBlue .rmGroup .rmItem a.rmLink:hover,
.RadMenu_IntelBlue .rmGroup .rmItem a.rmFocused,
.RadMenu_IntelBlue .rmGroup .rmItem a.rmSelected,
.RadMenu_IntelBlue .rmGroup .rmItem a.rmExpanded
{
	padding-top: 0;
	padding-bottom: 0;
	border: 0;
}

.RadMenu_IntelBlue .rmGroup a.rmLink,
.RadMenu_IntelBlue .rmGroup .rmText,
.RadMenu_IntelBlue .rmGroup .rmItem a.rmDisabled,
.RadMenu_IntelBlue .rmGroup .rmItem a.rmDisabled:hover,
.RadMenu_IntelBlue .rmGroup .rmItem a.rmDisabled .rmText,
.RadMenu_IntelBlue .rmGroup .rmItem a.rmDisabled:hover .rmText
{
	background-position: 0 500px;
	background-repeat: no-repeat;
	background-color: transparent;
}

.RadMenu_IntelBlue .rmGroup a.rmLink:hover,
.RadMenu_IntelBlue .rmGroup a.rmFocused,
.RadMenu_IntelBlue .rmGroup a.rmSelected,
.RadMenu_IntelBlue .rmGroup a.rmExpanded
{
	background-position: 0 -168px;
}

.RadMenu_IntelBlue .rmGroup a.rmLink:hover .rmText,
.RadMenu_IntelBlue .rmGroup a.rmFocused .rmText,
.RadMenu_IntelBlue .rmGroup a.rmSelected .rmText,
.RadMenu_IntelBlue .rmGroup a.rmExpanded .rmText
{
	background-position: 100% -192px;
}

/* <expand arrows> */

.RadMenu_IntelBlue .rmRootGroup .rmLink .rmExpandRight,
.RadMenu_IntelBlue .rmGroup .rmLink .rmExpandDown,
.RadMenu_IntelBlue_Context .rmGroup .rmLink .rmExpandRight,
.RadMenu_IntelBlue .rmRootGroup .rmItem a.rmDisabled .rmExpandRight,
.RadMenu_IntelBlue .rmGroup .rmItem a.rmDisabled .rmExpandDown,
.RadMenu_IntelBlue .rmRootGroup .rmItem a.rmDisabled:hover .rmExpandRight,
.RadMenu_IntelBlue .rmGroup .rmItem a.rmDisabled:hover .rmExpandDown
{
	background-position: 100% -216px;
}

.RadMenu_IntelBlue a.rmLink:hover .rmExpandRight,
.RadMenu_IntelBlue a.rmFocused .rmExpandRight,
.RadMenu_IntelBlue a.rmExpanded .rmExpandRight,
.RadMenu_IntelBlue a.rmSelected .rmExpandRight,
.RadMenu_IntelBlue a.rmLink:hover .rmExpandLeft,
.RadMenu_IntelBlue a.rmFocused .rmExpandLeft,
.RadMenu_IntelBlue a.rmExpanded .rmExpandLeft,
.RadMenu_IntelBlue a.rmSelected .rmExpandLeft
{
    /*background-image: url('Menu/rmRootExpand.png');*/
    background-image:none;
}

.RadMenu_IntelBlue .rmVertical a.rmLink:hover .rmExpandRight,
.RadMenu_IntelBlue .rmVertical a.rmSelected .rmExpandRight,
.RadMenu_IntelBlue .rmVertical a.rmExpanded .rmExpandRight,
.RadMenu_IntelBlue .rmVertical a.rmFocused .rmExpandRight
{
	background-position: 100% 0;
}

.RadMenu_IntelBlue .rmGroup a.rmLink:hover .rmExpandRight,
.RadMenu_IntelBlue .rmGroup a.rmFocused .rmExpandRight,
.RadMenu_IntelBlue .rmGroup a.rmSelected .rmExpandRight,
.RadMenu_IntelBlue .rmGroup a.rmExpanded .rmExpandRight,
.RadMenu_IntelBlue .rmGroup a.rmLink:hover .rmExpandDown,
.RadMenu_IntelBlue .rmGroup a.rmFocused .rmExpandDown,
.RadMenu_IntelBlue .rmGroup a.rmSelected .rmExpandDown,
.RadMenu_IntelBlue .rmGroup a.rmExpanded .rmExpandDown
{
    /*background-image: url('Menu/rmSprite1.png');*/
    background-image:none;
	background-position: 100% -240px;
}

.RadMenu_IntelBlue .rmRootGroup a.rmDisabled:hover .rmExpandRight,
.RadMenu_IntelBlue .rmGroup a.rmDisabled:hover .rmExpandDown
{
	/*background-image: url('Menu/rmSprite1.png');*/
	background-image:none;
	background-position: 100% -216px;
}

/* </expand arrows> */

/* <rtl> */

.RadMenu_IntelBlue_rtl a.rmLink:hover,
.RadMenu_IntelBlue_rtl a.rmFocused,
.RadMenu_IntelBlue_rtl a.rmSelected
{
    background-position: 100% -96px;
}

.RadMenu_IntelBlue_rtl a.rmLink:hover .rmText,
.RadMenu_IntelBlue_rtl a.rmFocused .rmText,
.RadMenu_IntelBlue_rtl a.rmSelected .rmText
{
    background-position: 0 -72px;
}

.RadMenu_IntelBlue_rtl a.rmExpanded,
.RadMenu_IntelBlue_rtl a.rmExpanded:hover
{
    background-position: 100% -144px;
}

.RadMenu_IntelBlue_rtl a.rmExpanded .rmText,
.RadMenu_IntelBlue_rtl a.rmExpanded:hover .rmText
{
    background-position: 0 -120px;
}

.RadMenu_IntelBlue_rtl .rmGroup a.rmLink:hover,
.RadMenu_IntelBlue_rtl .rmGroup a.rmFocused,
.RadMenu_IntelBlue_rtl .rmGroup a.rmSelected,
.RadMenu_IntelBlue_rtl .rmGroup a.rmExpanded
{
	background-position: 100% -264px;
}

.RadMenu_IntelBlue_rtl .rmGroup a.rmLink:hover .rmText,
.RadMenu_IntelBlue_rtl .rmGroup a.rmFocused .rmText,
.RadMenu_IntelBlue_rtl .rmGroup a.rmSelected .rmText,
.RadMenu_IntelBlue_rtl .rmGroup a.rmExpanded .rmText
{
	background-position: 0 -288px;
}

.RadMenu_IntelBlue_Context_rtl .rmVertical .rmLink .rmExpandLeft,
.RadMenu_IntelBlue_rtl .rmRootGroup a.rmLink .rmExpandLeft
{
	background-position: 0 -312px;
}

.RadMenu_IntelBlue_rtl .rmVertical a.rmLink:hover .rmExpandLeft,
.RadMenu_IntelBlue_rtl .rmVertical a.rmSelected .rmExpandLeft,
.RadMenu_IntelBlue_rtl .rmVertical a.rmExpanded .rmExpandLeft,
.RadMenu_IntelBlue_rtl .rmVertical a.rmFocused .rmExpandLeft
{
	background-position: 0 0;
}

.RadMenu_IntelBlue_rtl .rmGroup a.rmLink:hover .rmExpandLeft,
.RadMenu_IntelBlue_rtl .rmGroup a.rmFocused .rmExpandLeft,
.RadMenu_IntelBlue_rtl .rmGroup a.rmSelected .rmExpandLeft,
.RadMenu_IntelBlue_rtl .rmGroup a.rmExpanded .rmExpandLeft
{
    /*background-image: url('Menu/rmSprite1.png');*/
    background-image:none;
	background-position: 0 -336px;
}

.RadMenu_IntelBlue_rtl .rmRootGroup a.rmDisabled:hover .rmExpandLeft
{
    /*background-image: url('Menu/rmSprite1.png');*/
    background-image:none;
	background-position: 0 -312px;
}

/* </rtl> */

/* </Submenu items> */

/* <Submenu offsets (Web20 - specific, overlapping submenus)> */

.RadMenu_IntelBlue .rmFirst .rmSlide
{
	margin: 0 0 0 -1px;
}

.RadMenu_IntelBlue .rmVertical .rmSlide,
.RadMenu_IntelBlue .rmSlide .rmSlide,
.RadMenu_IntelBlue_Context .rmGroup .rmSlide
{
	margin: 0 0 0 -5px;
}

.RadMenu_IntelBlue_rtl .rmSlide
{
	margin: 0 0 0 0;
}

.RadMenu_IntelBlue_rtl .rmFirst .rmSlide
{
	margin-left: 1px;
}

.RadMenu_IntelBlue_rtl .rmVertical .rmSlide,
.RadMenu_IntelBlue_rtl .rmSlide .rmSlide,
.RadMenu_IntelBlue_Context_rtl .rmGroup .rmSlide
{
	margin: 0 0 0 5px;
}

/* </Submenu offsets> */

/* <Scrolling arrows> */

.RadMenu_IntelBlue .rmLeftArrow,
.RadMenu_IntelBlue .rmRightArrow
{
	background-color: #f0f9ff;
}

.RadMenu_IntelBlue .rmLeftArrow { background-position: -8px -312px; border-right: 1px solid #828282; }
.RadMenu_IntelBlue .rmRightArrow { background-position: -482px -216px; border-left: 1px solid #828282; }

.RadMenu_IntelBlue .rmTopArrow,
.RadMenu_IntelBlue .rmBottomArrow,
.RadMenu_IntelBlue .rmGroup .rmLeftArrow,
.RadMenu_IntelBlue .rmGroup .rmRightArrow
{
	background-color: #f0f9ff;
}

.RadMenu_IntelBlue .rmTopArrow { background-position: 50% -367px; border-bottom: 1px solid #828282; }
.RadMenu_IntelBlue .rmBottomArrow { background-position: 50% -391px; border-top: 1px solid #828282; }

/* </Scrolling arrows> */

/* <Separators> */

.RadMenu_IntelBlue .rmHorizontal .rmSeparator .rmText,
.RadMenu_IntelBlue .rmVertical .rmHorizontal .rmSeparator .rmText
{
	height: 22px;
	margin: 1px 0 0;
	width: 1px;
}

.RadMenu_IntelBlue .rmHorizontal .rmSeparator .rmText
{
	background-color: transparent;
	background-position: 0 -386px;
}

.RadMenu_IntelBlue_Context .rmSeparator .rmText,
.RadMenu_IntelBlue .rmHorizontal .rmGroup .rmSeparator .rmText,
.RadMenu_IntelBlue .rmVertical .rmHorizontal .rmGroup .rmSeparator .rmText
{
	background-color: transparent;
	background-position: 0 -408px;
}

/* </Separators> */

/* </RadMenu / Web20> */

.RadMenu .rmRootToggle:before {
	background-color:#C8102E;
	color: #ffffff;
	border-color: #ffffff;
}

/*
.RadMenuPopup .rmItem {
	background-color:#C8102E;
	color: #ffffff;
	border-color: #ffffff;
}
.RadMenuPopup .rmItem a.rmLink {
	color: #FFF;
	
}
*/
